<#include "header.htm"/>
<form name="formlostpassword" accept-charset="${encoding}" action="${contextPath}/jforum${extension}" method="post" target="_top">
	<input type="hidden" name="module" value="user" />
	<input type="hidden" name="action" value="lostPasswordSend" />
	
	<div cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
		
			<div class="fonts" align="left"><a class="nav" href="${contextPath}/forums/list${extension}">${I18n.getMessage("ForumListing.forumIndex")}</a></div>
		
        </div><br>
	
	<div class="forumline fonts" align="center">
		<div>
			<div class="thhead thc">
				${I18n.getMessage("PasswordRecovery.title")}
			</div>
		</div>
	
		<div>
			<div class="row1">
				<div>
                                    <br><br>
					
					<#if message?exists>
						<div>
							<div align="center"><span class="gen"><font color="#ff0000"><b>${message}</b></font></span></div>
						</div>
					</#if>
					
					<div>
						<div>
							<div align="center">
								<div>
									<div style="float: left;margin-left: 36%;"><span class="gen">${I18n.getMessage("User.emailAddress")}:</span></div>
                                                                        <div style="float: left;"><input type="text" maxlength="40" size="35" name="email" /></div><br>
                                                                        
									
                                                                </div> 
                                                            <div>
                                                                <div style="float: left; margin-left: 50%;"><span class="gen"><b>${I18n.getMessage("or")}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                                                                    <div><input style="float: left; margin-left:11%" class="mainoption" type="submit" value="${I18n.getMessage("ok")}" name="login"/></div>
                                                            </div>
                                                            <br>
								<div>
                                                                    <div style="float: left;margin-left: 38%;"><span class="gen">${I18n.getMessage("Login.user")}:</span></div>
                                                                    <div style="float: left;"><input type="text" maxlength="40" size="35" name="username" /></div>
								</div>
							</div>
						</div>
                                        </div><br>
					<div>
						<div align="center"><span class="gen">${I18n.getMessage("PasswordRecovery.usage")}</span></div>
					</div>
                                        <br>
				</div>
			</div>
		</div>
	</div>
</form>
<#include "bottom.htm"/>